.career_list_sec {
  .para_comm {
    margin-bottom: 1rem;
    a {
      color: #000000;
      text-decoration: none;
      font-size: 16px;
      line-height: 140%;
      &:hover {
        color: #be0022;
      }
    }
  }
  .job_item {
    border: 1px solid #ddd;
    padding: 1.5rem 1rem;
    border-radius: 16px;
    .title_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      h3 {
        // font-size: 24px;
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
      }
      span {
        font-size: 15px;
        font-weight: 600;
        background: #eee;
        border: 1px solid #ddd;
        padding: 0.5rem 1rem;
        border-radius: 6px;
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0;
      margin-bottom: 1.5rem;
      li {
        font-size: 15px;
        font-weight: 400;
        .icon_style {
          color: #858585;
          margin-right: 0.5rem;
        }
      }
    }
    .theme_btn3 {
      font-size: 15px;
    }
  }
}
