/* common css */

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

// html * {
//   font-family: "Poppins", sans-serif;
// }

body {
  font-family: var(--font-poppins), sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

@media (max-width: 576px) {
  .mtb-60 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .mt-60 {
    margin-top: 50px;
  }

  .mb-60 {
    margin-bottom: 50px;
  }

  .ptb-60 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pt-60 {
    padding-top: 50px;
  }

  .pb-60 {
    padding-bottom: 50px;
  }
}

.tag_line {
  color: #000;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0.5rem;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  @media (max-width: 576px) {
    text-align: start;
  }
}

.main_sec_heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #000;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 576px) {
    font-size: 32px;
    text-align: start;
  }
}

.main_sub_heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #000;
  line-height: 140%;
  @media (max-width: 576px) {
    text-align: end;
  }
}

.sub_heading {
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #000;
}

.para_comm {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #000;
}

.theme_btn {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #fff;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  @media (max-width: 775px) {
    font-size: 16px;
  }
  &:hover,
  &:focus {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
}

.theme_btn2 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  @media (max-width: 775px) {
    font-size: 16px;
  }
  &:hover,
  &:focus {
    background: #000;
    border: 1px solid #fff;
  }
}

.theme_btn3 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  @media (max-width: 775px) {
    font-size: 16px;
  }
  &:hover,
  &:focus,
  &.active {
    background: #000;
    border: 1px solid #000;
    color: #fff;
  }
}

.slider_custom_arrows {
  color: #fff;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 0.46rem 0.5rem;
  margin: 0;
  background: #000000;
  &:hover {
    background: #000;
    border: 1px solid #000;
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.slider_custom2_arrows {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  padding: 0.46rem 0.5rem;
  margin: 0;
  &:hover {
    background: #be0022;
    border: 1px solid #be0022;
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .main_sec_heading {
    margin-bottom: 0;
  }
}

.form_desktop_view {
  @media (max-width: 992px) {
    display: none;
  }
}

.form_mobile_view {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}

.desktop_view {
  @media (max-width: 768px) {
    display: none;
  }
}
.mobile_view {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.general-details {
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 140%;
    color: #000;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #000;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      text-align: justify;
    }
  }
  ul {
    margin-top: 16px;
    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: #000;
      margin-bottom: 0.5rem;
      strong {
        font-weight: 600;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// error page
.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .txt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px #eee;
    background-color: #fff;
    padding: 2rem 1rem;
    z-index: 99;
    h1 {
      font-size: 160px;
      line-height: 140%;
      font-weight: 800;
      color: #000;
      text-align: center;
      .zero {
        color: #be0022;
        animation: bounce-up 2s infinite;
      }
      .four {
        animation: bounce-down 2s infinite;
      }
      span {
        display: inline-block;
      }
      @media (max-width: 576px) {
        font-size: 76px;
      }
      @media (max-width: 992px) {
        font-size: 100px;
      }
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      color: #000;
      margin-bottom: 1rem;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: #000;
      font-weight: 400;
      width: 75%;
      text-align: center;
      line-height: 140%;
      margin-bottom: 2rem;
    }
  }
  /* Bounce Animations */
  @keyframes bounce-up {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes bounce-down {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(30px);
    }
    60% {
      transform: translateY(15px);
    }
  }
}
