.vision_sec {
  figure {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0;
    border-radius: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .para_comm {
    @media (max-width: 576px) {
      text-align: justify;
    }
  }
}
