.location_filter_sec {
  .filter_wrap {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @media (max-width: 992px) {
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    .zone_wrap {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      @media (max-width: 992px) {
        flex-wrap: wrap;
        gap: 1.5rem;
      }
    }
    .main-label {
      font-size: 20px;
      line-height: 140%;
      font-weight: 600;
      color: #000;
    }
    .form-select {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      color: #000;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.16);
      background-color: #fff;
      border-radius: 8px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
      &:focus {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.16);
      }
    }
    .theme_btn2 {
      font-size: 14px;
      padding: 1rem;
      width: 31%;
      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
