.dev_plan_sec {
  .para_comm {
    margin-bottom: 2rem;
  }
  .accordion-item {
    .accordion-header {
      .accordion-button {
        font-size: 18px;
        font-weight: 500;
        padding: 1rem 0;
        line-height: 150%;
        &:not(.collapsed),
        &:focus {
          box-shadow: none;
          background: transparent;
        }
      }
    }
    .accordion-body {
      font-size: 16px;
      line-height: 160%;
      padding: 1rem 0;
      text-align: justify;
    }
  }
  figure {
    overflow: hidden;
    margin: 0;
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
