.team_sec {
  .mobile_view {
    margin-top: 2rem;
  }
  .team_item {
    padding: 0 0.5rem;
    position: relative;
    figure {
      position: relative;
      width: 100%;
      height: 550px;
      overflow: hidden;
      margin: 0;
      border-radius: 16px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content_sec {
      position: absolute;
      left: 8%;
      right: 8%;
      bottom: 5%;
      .location {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 0.5rem;
      }
      .sub_heading {
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
}
