.invest_features_sec {
  .mobile_view {
    margin-top: 2rem;
  }
  .sub_heading {
    font-size: 24px;
    margin-bottom: 0;
  }
  .feature_wrap {
    padding: 0 0.5rem;
    .feature_item {
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.14);
      border-radius: 16px;
      min-height: 240px;
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 0.5rem;
      }
      h3 {
        font-size: 18px;
        line-height: 150%;
        font-weight: 600;
        color: #000;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 16px;
        line-height: 160%;
        font-weight: 400;
        color: #000;
      }
    }
  }
}
