.floating_icon_wrape {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 9999999;
  @media (max-width: 576px) {
    bottom: 5rem;
    right: 1rem;
  }
  .contact-pannel-btn {
    background: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    figure {
      position: relative;
      width: 55px;
      height: 55px;
      overflow: hidden;
      margin: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
}
