.maps_sec {
  .map_item {
    position: relative;
    cursor: pointer;
    figure {
      overflow: hidden;
      margin: 0;
      border-radius: 16px;
      position: relative;
      width: 100%;
      height: 350px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    .content_sec {
      position: absolute;
      left: 5%;
      right: 5%;
      bottom: 5%;
      .sub_heading {
        color: #fff;
      }
    }
  }
}
