.why-choose-sec {
  .para_comm {
    margin-bottom: 2rem;
  }
  .scroll-container {
    width: 100%;
    overflow-x: hidden; /* Hide scrollbar */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    height: 100%;
    background: url("../../../assets/home/processbg.webp");
    background-repeat: no-repeat;
    background-position: top 30% center;
    background-size: contain;

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }

    .scroll-content {
      display: flex;
      align-items: flex-start;
      .why-choose {
        min-width: 450px;
        max-width: 600px;
        margin-right: 40px;
        background-color: #fff;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
      }
      .process_item {
        min-width: 250px;
        margin-right: 20px;
        background: #fff;
        padding: 1rem;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        .icon {
          width: 80px;
          height: 80px;
        }
        .content_sec {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 15px;
          margin-top: 2rem;
          .sub_heading {
            font-size: 18px;
            margin-bottom: 0;
          }
          .slide_number {
            font-size: 24px;
            line-height: 140%;
            font-weight: 600;
          }
        }
      }
      .process_item2 {
        min-width: 250px;
        margin-right: 20px;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        figure {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: auto;
          margin: 0;
          border-radius: 16px;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
        .content_sec {
          position: absolute;
          left: 8%;
          right: 8%;
          bottom: 5%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 15px;
          .sub_heading {
            color: #fff;
            font-size: 18px;
            margin-bottom: 0;
          }
          .slide_number {
            color: #fff;
            font-size: 24px;
            line-height: 140%;
            font-weight: 600;
          }
        }
      }
    }
  }
  // .slider_sec {
  //   height: 100%;
  //   background: url("../../../assets/home/processbg.png");
  //   background-repeat: no-repeat;
  //   background-position: top 30% center;
  //   background-size: contain;
  //   .process_item_wrap {
  //     padding: 0 1rem;
  //     .process_item {
  //       background: #fff;
  //       padding: 1rem;
  //       border-radius: 16px;
  //       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //       .icon {
  //         width: 80px;
  //         height: 80px;
  //       }
  //       .content_sec {
  //         display: flex;
  //         justify-content: space-between;
  //         align-items: flex-end;
  //         gap: 15px;
  //         margin-top: 2rem;
  //         .sub_heading {
  //           font-size: 18px;
  //           margin-bottom: 0;
  //         }
  //         .slide_number {
  //           font-size: 24px;
  //           line-height: 140%;
  //           font-weight: 600;
  //         }
  //       }
  //     }
  //     .process_item2 {
  //       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //       position: relative;
  //       figure {
  //         overflow: hidden;
  //         height: auto;
  //         margin: 0;
  //         border-radius: 16px;
  //         .image {
  //           width: 100%;
  //           height: 100%;
  //           object-fit: cover;
  //         }
  //       }
  //       .content_sec {
  //         position: absolute;
  //         left: 8%;
  //         right: 8%;
  //         bottom: 5%;
  //         display: flex;
  //         justify-content: space-between;
  //         align-items: flex-end;
  //         gap: 15px;
  //         .sub_heading {
  //           color: #fff;
  //           font-size: 18px;
  //           margin-bottom: 0;
  //         }
  //         .slide_number {
  //           color: #fff;
  //           font-size: 24px;
  //           line-height: 140%;
  //           font-weight: 600;
  //         }
  //       }
  //     }
  //   }
  // }
}
