.developer_list_area {
  .developer_item {
    padding: 0 0.5rem;
    position: relative;
    cursor: pointer;
    &:hover {
      figure::before {
        opacity: 1;
      }
    }
    figure {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 400px;
      margin: 0;
      border-radius: 16px;
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content_sec {
      position: absolute;
      z-index: 2;
      left: 8%;
      right: 8%;
      bottom: 5%;
      .location {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 0.5rem;
      }
      .sub_heading {
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
}
