.footer-area {
  background: #000000;
  .footer-img {
    width: 280px;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        &:hover {
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
  .social-icons {
    li {
      margin: 0;
      font-size: 20px;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width: 768px) {
      justify-content: center;
    }
    .prism_div {
      opacity: 0;
      visibility: hidden;
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
    }
    a {
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
